<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<div class="top-nav">
    <a class="active" href="/user">Home</a>
    <a href="/create">Create User</a>
</div>
<div class="table-container">
    <div class="title">List User</div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Action</th>
        </tr>
        <% listUsers.forEach(function(user) { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.city %></td>
                <td>
                    <a href="/update">Edit</a>
                    <button>Delete</button>
                </td>
            </tr>
        <% }); %>
    </table>
</div>
</body>
</html>